# Ignore nested git repositories from Vim plugin managers
# Your .vimrc should manage installing these on a new system.
.vim/plugged/
.vim/pack/

# Ignore macOS specific files
.DS_Store

# Ignore temporary editor files
*.swp
*.swo

# Ignore Git Config
.gitconfig.local

.config/yarn

.config/topgrade.toml
.config/karabiner/
